In [1]:
from pyspark.sql import SparkSession
import getpass 
username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir", f"/user/itv009200/warehouse"). \
    config('spark.shuffle.useOldFetchProtocol', 'true'). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
spark.sql("""select member_id, count(*) as total 
from itv009200_lending_club_new.customers
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|76b577467eda5bdbc...|    4|
|3f87585a20f702838...|    4|
|ad8e5d384dae17e06...|    4|
|a2356725aa9da92c6...|    3|
|e7d8d16928817ec8f...|    3|
|bf3d06b33c49a9375...|    3|
|066ddaa64bee66dff...|    3|
|498bb6b1f0099cb47...|    3|
|c563428cb58da48ff...|    3|
|d9ce4046daf599732...|    3|
|059d401bb603d9a80...|    3|
|f54295a60946dedad...|    3|
|291ca1b09ef11ca3e...|    3|
|819453be77718d747...|    3|
|4ab6205de571ccb7b...|    3|
|5d52e7773cb0efff3...|    3|
|d3731bad3e6a82515...|    3|
|035bf3d8288d803bd...|    3|
|3ae415acd6bbfaac1...|    3|
+--------------------+-----+
only showing top 20 rows

In [3]:
spark.sql("""select * from itv009200_lending_club_new.customers 
where member_id like 'e4c167053d5418230%'""")

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|2023-09-15 17:18:...|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [4]:
spark.sql("""select member_id, count(*) as total 
from itv009200_lending_club.loans_defaulters_delinq1
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    3|
|55d55d97420671a1c...|    2|
|0b44a10bc749eabb2...|    2|
|db887c1d4cb004ca8...|    2|
|694c6cb86608015e9...|    2|
|62394e3f9d063413b...|    2|
|17d76ba5141e1c33a...|    2|
|ac9a3da3b89f9228e...|    2|
|6918b9861ba5a4c67...|    2|
|6c2b63ff231e520d4...|    2|
|8d2c605c7ad9209cc...|    2|
|77db5fdf951dd04b2...|    2|
|4f7579700cd9d49d7...|    2|
|dbe5ec23d01598dbf...|    2|
|343344c3c65b023af...|    2|
|c16e1f92ae5ccc785...|    2|
|bbe43331566910d55...|    2|
|cbede54df344cdb94...|    2|
|b5ded5638e54e1692...|    2|
|a93a44c9d83793451...|    2|
+--------------------+-----+
only showing top 20 rows

In [5]:
spark.sql("""select * from itv009200_lending_club.loans_defaulters_delinq1
where member_id like 'e4c167053d5418230%'""")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                    45|
+--------------------+-----------+-----------+----------------------+

In [6]:
spark.sql("""select member_id, count(*) as total 
from itv009200_lending_club.loans_defaulters_detail_rec_enq1
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e3b0c44298fc1c149...|   33|
|e4c167053d5418230...|    5|
|ad8e5d384dae17e06...|    4|
|3f87585a20f702838...|    4|
|76b577467eda5bdbc...|    4|
|f54295a60946dedad...|    3|
|53789bea7edc660ed...|    3|
|f9fc581aae696e0bd...|    3|
|066ddaa64bee66dff...|    3|
|e7d8d16928817ec8f...|    3|
|c563428cb58da48ff...|    3|
|d9ce4046daf599732...|    3|
|3ae415acd6bbfaac1...|    3|
|059d401bb603d9a80...|    3|
|291ca1b09ef11ca3e...|    3|
|a2356725aa9da92c6...|    3|
|498bb6b1f0099cb47...|    3|
|4ab6205de571ccb7b...|    3|
|5d52e7773cb0efff3...|    3|
|22593a1870543b2db...|    3|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("""select * from itv009200_lending_club.loans_defaulters_detail_rec_enq1
where member_id like 'e4c167053d5418230%'""")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e4c167053d5418230...|      0|                   0|             0|
|e4c167053d5418230...|      0|                   0|             3|
|e4c167053d5418230...|      0|                   0|             2|
|e4c167053d5418230...|      0|                   0|             1|
|e4c167053d5418230...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+

In [8]:
bad_data_customer_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv009200_lending_club_new.customers
group by member_id having total > 1)""")

In [9]:
bad_data_customer_df.count()

3157

In [10]:
bad_data_customer_df

+--------------------+
|           member_id|
+--------------------+
|4231a55d0199c619a...|
|3b8ffe19f24749a73...|
|d4782ddad8591f44d...|
|01b2223757c3b62e7...|
|a2af7506825a7dcff...|
|675151e58a628e87b...|
|a53e2f488d2d76a30...|
|fc0e468bff11ac7c3...|
|cd1fdca829c443fa7...|
|7115ace193e13d8f3...|
|eebbd89aa7efc13e7...|
|61be6498c93cadf89...|
|f284044b881f218c0...|
|f99c6e9cfe3a7a2d2...|
|761b2f1e61999e14e...|
|5130d0087970e032e...|
|2bae2e4dd6d5f2b21...|
|cbede54df344cdb94...|
|759c2dc5f485e5465...|
|d34249ef84980fb46...|
+--------------------+
only showing top 20 rows

In [11]:
bad_data_loans_defaulters_delinq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv009200_lending_club.loans_defaulters_delinq1
group by member_id having total > 1)""")

In [12]:
bad_data_loans_defaulters_delinq_df.count()

173

In [13]:
bad_data_loans_defaulters_delinq_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|8d2c605c7ad9209cc...|
|bbe43331566910d55...|
|6918b9861ba5a4c67...|
|a93a44c9d83793451...|
|b5ded5638e54e1692...|
|6c2b63ff231e520d4...|
|694c6cb86608015e9...|
|58dde656f747cee8b...|
|0b44a10bc749eabb2...|
|62394e3f9d063413b...|
|77db5fdf951dd04b2...|
|4f7579700cd9d49d7...|
|17d76ba5141e1c33a...|
|dbe5ec23d01598dbf...|
|343344c3c65b023af...|
|c16e1f92ae5ccc785...|
|db887c1d4cb004ca8...|
|c23eb88fed4893030...|
|ac9a3da3b89f9228e...|
+--------------------+
only showing top 20 rows

In [14]:
bad_data_loans_defaulters_detail_rec_enq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv009200_lending_club.loans_defaulters_detail_rec_enq1
group by member_id having total > 1)""")

In [15]:
bad_data_loans_defaulters_detail_rec_enq_df.count()

3189

In [16]:
bad_data_loans_defaulters_detail_rec_enq_df

+--------------------+
|           member_id|
+--------------------+
|675151e58a628e87b...|
|f284044b881f218c0...|
|a53e2f488d2d76a30...|
|fc0e468bff11ac7c3...|
|61be6498c93cadf89...|
|7115ace193e13d8f3...|
|eebbd89aa7efc13e7...|
|01b2223757c3b62e7...|
|a2af7506825a7dcff...|
|d4782ddad8591f44d...|
|5130d0087970e032e...|
|761b2f1e61999e14e...|
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|4231a55d0199c619a...|
|f99c6e9cfe3a7a2d2...|
|3b8ffe19f24749a73...|
|2bae2e4dd6d5f2b21...|
|759c2dc5f485e5465...|
|53789bea7edc660ed...|
+--------------------+
only showing top 20 rows

In [17]:
bad_data_customer_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/bad/bad_data_customers") \
.save()

In [18]:
bad_data_loans_defaulters_delinq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/bad/bad_data_loans_defaulters_delinq") \
.save()

In [19]:
bad_data_loans_defaulters_detail_rec_enq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/bad/bad_data_loans_defaulters_detail_rec_enq") \
.save()

In [20]:
bad_customer_data_df = bad_data_customer_df.select("member_id") \
.union(bad_data_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_data_loans_defaulters_detail_rec_enq_df.select("member_id"))

In [21]:
bad_customer_data_final_df = bad_customer_data_df.distinct()

In [22]:
bad_customer_data_final_df.count()

3189

In [23]:
bad_customer_data_final_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/bad/bad_customer_data_final") \
.save()

In [24]:
bad_customer_data_final_df.createOrReplaceTempView("bad_data_customer")

In [25]:
customers_df = spark.sql("""select * from itv009200_lending_club_new.customers
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [26]:
customers_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/raw/cleaned_new/customers_parquet") \
.save()

In [27]:
loans_defaulters_delinq_df = spark.sql("""select * from itv009200_lending_club.loans_defaulters_delinq1
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [28]:
loans_defaulters_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet") \
.save()

In [29]:
loans_defaulters_detail_rec_enq_df = spark.sql("""select * from itv009200_lending_club.loans_defaulters_detail_rec_enq1
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [30]:
loans_defaulters_detail_rec_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv009200/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet") \
.save()

In [33]:
spark.sql("""
create EXTERNAL TABLE itv009200_lending_club_new.customers_new(member_id string, emp_title string, emp_length int, home_ownership string, 
annual_income float, address_state string, address_zipcode string, address_country string, grade string, 
sub_grade string, verification_status string, total_high_credit_limit float, application_type string, 
join_annual_income float, verification_status_joint string, ingest_date timestamp)
stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/customer_parquet'
""")

++
||
++
++

In [36]:
spark.sql("""
create EXTERNAL TABLE itv009200_lending_club_new.loans_defaulters_delinq_new(member_id string,delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer)
stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/loan_defaulters_delinq_parquet'
""")

++
||
++
++

In [37]:
spark.sql("""
create EXTERNAL TABLE itv009200_lending_club_new.loans_defaulters_detail_rec_enq_new(member_id string, pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer)
stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/loan_defaulters_detail_rec_enq_parquet'
""")

++
||
++
++

In [38]:
spark.sql("""select member_id, count(*) as total 
from itv009200_lending_club_new.customers_new
group by member_id order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e5b195c9c02c592ba...|    1|
|cd0a588079dab28a0...|    1|
|7d11f406a0376e663...|    1|
|3f3b96ab3a0c80fa1...|    1|
|d6d4f17fe8a41ec58...|    1|
|07e0369060069338b...|    1|
|ebda0820db12570e5...|    1|
|f1916df56a386a2c7...|    1|
|3f4b66124fb004c1d...|    1|
|9792ba37806b6c17c...|    1|
|ce77a30b3b1a98b6c...|    1|
|2f402f4e40aa62008...|    1|
|f42fd83e91adcc495...|    1|
|21954dcaedaa4b793...|    1|
|0a4823cde6790c407...|    1|
|62bd6413987026737...|    1|
|9ec264b9264576e36...|    1|
|41f17aa0824d4274d...|    1|
|4eb66d77f45022d4f...|    1|
|3e834bd2db6de8402...|    1|
+--------------------+-----+
only showing top 20 rows

In [39]:
spark.stop()